* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#mea-card {
  padding-left: 15px;
  padding-right: 15px;
}
#card-item {
  margin-bottom: 1.5rem;
}
.men-section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.text-section {
  padding: 4rem 2rem;
}
.rext-section p {
  color: #6c757d;
}
.card .col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.float-right {
  float: right;
}
.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a :hover {
  text-decoration: underline;
}
